<h3>Assignment Instructions:</h3>
<ol>
    <li>Add an Input field which updates a property ('username') via Two-Way-Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>
<hr>
<h3>Result:</h3>
<div class="form-group">
    <label for="userInput">Username:</label>
    <input type="text" class="form-control" id="userInput" aria-describedby="userInput" [(ngModel)]="username">
</div>
<p class="my-3">You typed: {{ username }}</p>
<button type="reset" class="btn btn-info" [disabled]="!username" (click)="onReset()"><i class="fa fa-undo mr-1"></i>Reset</button>