<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
            <span class="text-muted"
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
                This username is forbidden!</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">Username is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
            <span class="text-muted"
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">Please enter a
              valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Hobbies</h4>
          <button class="btn btn-secondary" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <div class="text-muted mt-2" *ngIf="!signupForm.valid && signupForm.touched">Please complete all fields!</div>
        <button class="btn btn-primary mt-2" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>