<nav class="navbar navbar-dark bg-dark mb-3">
  <a class="navbar-brand mb-0" href="https://www.udemy.com/course/the-complete-guide-to-angular-2" target="_blank"
    title="Open Course on UDemy">
    Udemy Angular: The Complete Guide<i class="fa fa-external-link ml-2" aria-hidden="true"></i>
  </a>
</nav>
<div class="container-fluid mb-5">
  <div class="row m-4">
    <div class="col-12">
      <p>
        Angular: The Complete Guide is taught on Udemy by Maximilian Schwarzmuller.
        The version of the course I took covered Angular 9. Click the link in the page header to view more information
        on the course.
        Click through the options in the left navigation bar to view the assignments I completed as part of this course.
      </p>
      <p>In the later course sections, instead of assignments, concepts are implemented in a course project. View my
        version of the course project at the
        <a href="https://github.com/BekahT/recipe-book" target="_blank">GitHub repository</a> or the
        <a href="https://bekaht.github.io/recipe-book/" target="_blank">deployed application.</a>
      </p>
      <!-- <app-practice></app-practice> -->
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-components-tab" data-toggle="pill" href="#v-pills-components" role="tab"
          aria-controls="v-pills-components" aria-selected="true">Components</a>
        <a class="nav-link" id="v-pills-data-binding-tab" data-toggle="pill" href="#v-pills-data-binding" role="tab"
          aria-controls="v-pills-data-binding" aria-selected="false">Data Binding</a>
        <a class="nav-link" id="v-pills-directives-tab" data-toggle="pill" href="#v-pills-directives" role="tab"
          aria-controls="v-pills-directives" aria-selected="false">Directives</a>
        <a class="nav-link" id="v-pills-event-binding-tab" data-toggle="pill" href="#v-pills-event-binding" role="tab"
          aria-controls="v-pills-event-binding" aria-selected="false">Event Binding</a>
        <a class="nav-link" id="v-pills-directives-deep-dive-tab" data-toggle="pill"
          href="#v-pills-directives-deep-dive" role="tab" aria-controls="v-pills-directives-deep-dive"
          aria-selected="false">Directives Deep Dive</a>
        <a class="nav-link" id="v-pills-services-tab" data-toggle="pill" href="#v-pills-services" role="tab"
          aria-controls="v-pills-services" aria-selected="false">Services</a>
        <a class="nav-link" id="v-pills-forms-tab" data-toggle="pill" href="#v-pills-forms" role="tab"
          aria-controls="v-pills-forms" aria-selected="false">Forms</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-components" role="tabpanel"
          aria-labelledby="v-pills-components-tab">
          <app-components></app-components>
        </div>
        <div class="tab-pane fade" id="v-pills-data-binding" role="tabpanel" aria-labelledby="v-pills-data-binding-tab">
          <app-data-binding></app-data-binding>
        </div>
        <div class="tab-pane fade" id="v-pills-directives" role="tabpanel" aria-labelledby="v-pills-directives-tab">
          <app-directives></app-directives>
        </div>
        <div class="tab-pane fade" id="v-pills-event-binding" role="tabpanel"
          aria-labelledby="v-pills-event-binding-tab">
          <app-event-binding></app-event-binding>
        </div>
        <div class="tab-pane fade" id="v-pills-directives-deep-dive" role="tabpanel"
          aria-labelledby="v-pills-directives-deep-dive-tab">
          <app-directives-deep-dive></app-directives-deep-dive>
        </div>
        <div class="tab-pane fade" id="v-pills-services" role="tabpanel" aria-labelledby="v-pills-services-tab">
          <app-services></app-services>
        </div>
        <div class="tab-pane fade" id="v-pills-forms" role="tabpanel" aria-labelledby="v-pills-forms-tab">
          <p>Forms placeholder</p>
        </div>
      </div>
    </div>
  </div>
</div>